.App {
  font-family: sans-serif;
  background-image: linear-gradient(rgba(120, 120, 120), rgba(10, 10, 10));
  min-height: 100vh;
}

nav ul {
    position: relative;
    list-style: none;
    padding-inline-start: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

nav a {
  text-decoration: none;
}

nav li {
  text-align: center;
  color: white;
  font-size: 1 rem;
  display: inline-block;
  height: 100%;
  width: auto;
  margin-inline: 15px;
}

.selected > li {
  border-bottom: 2px solid rgb(24, 24, 24);
  font-size: 1 rem;
  position: relative;
};