.App {
  font-family: sans-serif;
  background-image: linear-gradient(rgb(15, 15, 15), rgba(5, 5, 5));
  min-height: 100vh;
  text-align: center;
  color: white;
}

nav ul {
    position: relative;
    list-style: none;
    padding-inline-start: 0;
    font-size: 2 rem;
  }

nav a {
  text-decoration: none;
}

nav li {
  text-align: center;
  color: white;
  display: inline-block;
  height: 100%;
  width: auto;
  margin-inline: 25px;
}

.selected > li {
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 2 rem;
};

.inline {
  display:inline-block;
}

.react-select-container {

}

.react-select-container__value {

}

.react-select-container__select {

}

.react-select-container__options{
  list-style-type: none;

}

.react-select-container__row {

}

.react-select-container__option {

}

.react-select-container__select {

}

.is-selected{

}